@use '../variables' as *;

.product-detail {
  .container {
    padding: $spacer;
    max-width: 1200px;
    margin-inline: auto;

    .back {
      text-transform: capitalize;
      color: rgba($dark-200, 0.5);
      text-decoration: none;
      font-weight: 500;
      cursor: pointer;
    }

    @include screen(545) {
      section:nth-of-type(1) {
        display: grid;
        grid-template: 1fr repeat(5, auto) 1fr / repeat(2, 1fr);
        grid-template-areas: 'img .' 'img new-product' 'img header' 'img desc' 'img price' 'img buttons' 'img .';
        text-align: start;
        column-gap: $spacer * 2;

        h2 {
          grid-area: header;
        }
        .new-product {
          grid-area: new-product;
        }
        .desc {
          grid-area: desc;
        }
        .price {
          grid-area: price;
        }
        .cart {
          grid-area: buttons;
        }
      }
      @each $device in $devices {
        &.#{nth($device, 1)} {
          section:nth-of-type(1) img {
            grid-area: img;
            content: url('../../assets/product-' + nth(
                $device,
                2
              ) + '/tablet/image-product.jpg');
          }
        }
      }
    }
    @include screen(900) {
      section:nth-of-type(1) {
        h2 {
          font-size: 40px;
          line-height: 44px;
          letter-spacing: 1.42857px;
        }
        .desc {
          font-size: 1.075rem;
          line-height: 30px;
        }
      }
      @each $device in $devices {
        &.#{nth($device, 1)} {
          section:nth-of-type(1) img {
            content: url('../../assets/product-' + nth(
                $device,
                2
              ) + '/desktop/image-product.jpg');
          }
        }
      }
    }
    section:nth-of-type(1) {
      img {
        border-radius: 8px;
        margin-block: $spacer;

        @include screen(545) {
          margin-bottom: 0;
        }
      }
      .new-product {
        text-transform: uppercase;
        color: $brown-200;
        letter-spacing: 10px;
        margin-block: $spacer $spacer * 0.5;
      }
      h2 {
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 1px;
      }
      .desc {
        color: rgba($dark-200, 0.5);
        line-height: 25px;
        font-weight: 500;
        margin-top: $spacer * 0.5;
      }
      .price {
        font-weight: 700;
        letter-spacing: 1.3px;
        font-size: 1.1rem;
        margin-block: $spacer * 0.7 $spacer;
      }
      .cart {
        display: flex;
        gap: $spacer;

        &__increment {
          display: flex;
          align-items: center;
          gap: $spacer * 2.5;
          background-color: $white-300;
          padding: $spacer;
          border-radius: 3px;

          p {
            font-weight: 700;
          }
          .btn {
            color: rgba($dark-200, 0.25);
            cursor: pointer;
            font-size: 1.2rem;
            user-select: none;
          }
        }
      }
    }
    section:nth-of-type(2) {
      margin-top: $spacer * 2;

      .features {
        h3 {
          font-size: 1.5rem;
          text-transform: uppercase;
        }
        p {
          color: rgba($dark-200, 0.5);
          font-weight: 500;
          line-height: 28px;
          margin-top: $spacer;
        }
        @include screen(900) {
          max-width: 692px;
        }
      }
      .box {
        @extend .features;
        margin-block: $spacer * 2 $spacer * 4;

        @include screen(545) {
          display: flex;
          align-items: baseline;
          .items {
            flex-grow: 1;
            display: grid;
            place-content: center;
          }
        }

        @include screen(900) {
          display: grid;
          margin-top: 0;
          place-content: center;
        }

        .items_details {
          @include screen(545) {
            &:first-child {
              margin-top: 0;
            }
          }
          @include screen(900) {
            &:first-child {
              margin-top: $spacer;
            }
          }
          span {
            color: $brown-200;
            margin-right: $spacer * 0.75;
          }
        }
      }
      .gallery {
        img {
          border-radius: 8px;
          margin-bottom: $spacer;
          height: 100%;
          @include screen(545) {
            margin: 0;
            @each $device in $devices {
              @for $i from 1 through 3 {
                &.#{nth($device, 1)}G#{$i} {
                  content: url('../../assets/product-' + nth(
                      $device,
                      2
                    ) + '/tablet/image-gallery-' + $i + '.jpg');
                }
              }
            }
            &:first-child {
              grid-area: img1;
            }
            &:nth-child(2) {
              grid-area: img2;
            }
            &:last-child {
              grid-area: img3;
            }
          }
          @include screen(900) {
            height: 100%;
            @each $device in $devices {
              @for $i from 1 through 3 {
                &.#{nth($device, 1)}G#{$i} {
                  content: url('../../assets/product-' + nth(
                      $device,
                      2
                    ) + '/desktop/image-gallery-' + $i + '.jpg');
                }
              }
            }
          }
        }
        @include screen(545) {
          display: grid;
          grid-template: repeat(2, 1fr) / 1fr 1.426fr;
          grid-template-areas: 'img1 img3' 'img2 img3';
          gap: $spacer;
        }
      }
      .like {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.2rem;
        text-align: center;
        margin-block: $spacer * 3 $spacer * 1.5;
      }
      .likes {
        margin-bottom: $spacer * 6;

        @include screen(545) {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          column-gap: $spacer;
          margin-bottom: $spacer * 4;
        }
      }
      .children {
        @include screen(900) {
          display: grid;
          grid-template-columns: minmax(auto, max-content) minmax(
              max-content,
              1fr
            );
          column-gap: $spacer * 2;
          margin-bottom: $spacer * 2;
        }
      }
    }
  }
}
